<nav>
    <ul>
        <li class="user-info">
            <a routerLink="/profile">
                <img class="user-image" src="../../assets//images/profile pic.png" alt="Profile picture">
                <span class="user-name">Bruno Cauan</span>
            </a>
        </li>
        
        <li *ngFor="let page of pages">
            <a mat-button color="primary" [routerLink]="page.href">
                <i class="material-icons">{{page.icon}}</i> {{page.title}}
            </a>
        </li>
    </ul>
</nav>