<table mat-table matSort [dataSource]="dataSource">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="identificacao">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Identificação</th>
        <td mat-cell *matCellDef="let element">
            {{ element.identificacao }}
        </td>
    </ng-container>

    <ng-container matColumnDef="criador">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Criador</th>
        <td mat-cell *matCellDef="let element">
            {{ element.criador }}
        </td>
    </ng-container>

    <ng-container matColumnDef="code">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element">
            {{ element.code }}
        </td>
    </ng-container>
    
    <ng-container matColumnDef="tratando">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Tratando</th>
        <td mat-cell *matCellDef="let element">
            {{ element.tratando ? 'SIM' : 'NÃO' }}
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="myClinicalCasesColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: myClinicalCasesColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>