<app-sidenav></app-sidenav>
<div class="new-case">
    <h1 class="header">Novo Caso</h1>

    <div class="content">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Novo Caso Clínico</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <form #newCaseForm="ngForm" (ngSubmit)="handleNewCase(newCaseForm)" (keydown.enter)="$event.preventDefault()">
                    <p>
                        <mat-form-field>
                            <input name="identificacao" ngModel #identificacao="ngModel" type="text" matInput required placeholder="Identificação"/>
                        </mat-form-field>
                    </p>

                    <div *ngIf="pacientChart.length">
                        <mat-card-header>
                            <mat-card-title>Quadro do Paciente</mat-card-title>
                        </mat-card-header>
                        
                        <p>
                            <mat-list role="list">
                                <ng-container *ngFor="let currentChart of pacientChart; let i = index">
                                    <mat-list-item role="listitem">
                                        <span>{{currentChart}}</span>
                                        <button (click)="handleRemovePacientChart(i)" mat-icon-button type="button" color="warn"><i class="material-icons">remove_circle</i></button>
                                    </mat-list-item>
                                    <mat-divider *ngIf="!(i === pacientChart.length - 1)"></mat-divider>
                                </ng-container>
                            </mat-list>
                        </p>
                    </div>


                    <p *ngIf="isAdding" class="add-pacient-chart">
                        <mat-form-field>
                            <input [(ngModel)]="newPacientChart" [ngModelOptions]="{standalone: true}" (keyup.enter)="handleAddNewPacientChart()" type="text" matInput placeholder="Quadro do Paciente - Descrição"/>
                        </mat-form-field>
                        
                        <button (click)="handleAddNewPacientChart()" mat-mini-fab type="button" color="primary" aria-label="Add">
                            <i class="material-icons">add</i>
                        </button>
                    </p>

                    <div class="button-container">
                        <mat-checkbox name="tratar" ngModel #tratar="ngModel" labelPosition="before" color="accent">Tratar Caso</mat-checkbox>
                        
                        <button (click)="showAddPacientChart()" type="button" mat-raised-button color="accent">
                            <span>Inserir Quadro do Paciente</span>
                            <i class="material-icons">add</i>
                        </button>

                        <button type="submit" mat-raised-button color="primary">Criar Caso</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
