:host {
    display: flex;
    min-height: 100vh;

    .new-anamnese {
        width: 100%;
        padding: 32px 16px 16px 32px;

        .header {
            font-size: 42px;
            font-weight: 500;
            color: #3F51B5;
            display: flex;
            justify-content: center;
        }
        mat-tab-group {
            display: flex;
            align-items: center;
        }
        mat-card {
            margin-top: 28px;
            
            mat-card-content {
                margin: 0 16px;

                
                form {
                    margin-top: 10px;

                    p {
                        &.add-pacient-chart {
                            display: flex;
                            flex-direction: row;
                        }
                        
                        mat-form-field,  mat-radio-group, label, mat-slide-toggle  {
                            width: 43%;
                            margin: 15px;
                        }

                        mat-list {
                            position: relative;

                            button {
                                position: absolute;
                                right: 10px;
                            }
                        }
                    }

                    .button-container {
                        display: flex;
                        justify-content: flex-end;

                        > :not(:last-child) {
                            margin-right: 15px;
                        }

                        mat-checkbox {
                            display: flex;
                            align-items: center;
                            color: #3F51B5;
                            font-weight: bold;
                        }

                        button i {
                            line-height: 17px;
                        }
                    }
                }
            }
        }
 
        .radio-group {
            display: flex;
            flex-direction: column;
            margin: 15px 0;
        }

        .radio-button {
            margin: 5px;
        }
    }
}