:host {
    display: flex;
    min-height: 100vh;

    .new-user {
        width: 100%;
        padding: 32px 16px 16px 32px;

        .header {
            font-size: 42px;
            font-weight: 500;
            color: #3F51B5;
            display: flex;
            justify-content: center;
        }
        mat-card-header {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        mat-card {
            margin-top: 28px;
        }

        mat-form-field {
            width: 43%;
            margin: 10px;
        }

    }
}